<!doctype html>
{% extends 'techstore/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% block body %}

{% for item in cart.items %}
    <div class="cart-item">
        <div class="item-image">
            <img src="{{ item.product.item_image }}">
        </div>
        <div class="item-details">
            <h3>{{ item.product.item_name }}</h3>
            <p>{{ item.product.item_desc }}</p>
            <p>Price: {{ item.product.item_price }}</p>
            <form method="post" action="{% url 'techstore:remove_from_cart' item.product.id %}">
                {% csrf_token %}
                <button type="submit">Remove from Cart</button>
            </form>
        </div>
    </div>
{% empty %}
    <p>Your cart is empty.</p>
{% endfor %}





    {% if laptops %}
    <h2>Laptops:</h2>
    <ul>
    {% for laptop in laptops %}
      <li>{{ laptop.laptops_name }} - {{ laptop.laptops_price }}</li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if desktops %}
    <h2>Desktops:</h2>
    <ul>
    {% for desktop in desktops %}
      <li>{{ desktop.desktops_name }} - {{ desktop.desktops_price }}</li>
    {% endfor %}
    </ul>
  {% endif %}

{% endblock %}
</body>
</html>