<!doctype html>
{% extends 'techstore/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% block body %}


    <p>Your cart is empty.</p>



{% for laptop in laptops %}
  <div class="cart-item">
    <h4>{{ laptop.laptops_name }}</h4>
    <p>{{ laptop.laptops_desc }}</p>
    <p>{{ laptop.laptops_price }}</p>
    <img src="{{ laptop.laptops_image.url }}" alt="{{ laptop.laptops_name }} image">
  </div>
{% endfor %}

{% endblock %}
</body>
</html>