{% extends 'techstore/base.html' %}
{% load static %}

{% block body %}
<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center">
            <h3><strong>{{user.username}}</strong></h3>
            <span class="name">{{email}}</span>
            <img class="profile_image" src="{{ user.profile.image.url }}">
            <a href="{% url 'logout' %}">
                <button class="btn1 btn-dark profile_change">Logout</button>
            </a>
        </div>
    </div>
</div>


<!-- profile.html -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-3 text-center">
            <div class="card-body login-form">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                      <div class="form-group profile_change">
                        <label for="id_image">Change Profile Picture</label>
                        <input type="file" name="image" id="id_image" class="form-control-file">
                      </div>
                      <button type="submit" class="btn btn-primary profile_change">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}